*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

html,body{
	height:100%;
}

/*
Classes Auxiliares
*/

.center{
	margin: 0 auto;
	max-width: 1280px;
	padding:0 2%;
}

.clear{
	clear: both;
}


/* ===== ====== */
.layer{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
}

section.main{
	position: relative;
	background-image: url(../img/bg1.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	padding: 15px 0;
	min-height: 800px;
}

section.main header{
	position: relative;
	z-index: 2;
	padding-bottom: 10px;
	border-bottom: 1px solid white;
}

.icons-social{
	float: right;
}

.icons-social i{
	color: white;
	text-decoration: none;
	font-size: 20px;
	margin: 0 15px;
}

.icons-social i:hover{
	transition: 0.2s;
	color: #2693ff;
}

.logo{
	float: left;
	color: white;
	font-size: 23px;
	font-weight: bold;
	margin-top: 20px;
}

.logo h1{
	font-size: 16px;
	text-align: center;
}

nav.mobile{
	display: none;
	float: right;
	z-index: 3;
}

nav.mobile ul{
	position: absolute;
	left: 0;
	top: 110px;
	list-style-type: none;
	background: white;
	width: 100%;
}

nav.mobile > i{
	position: relative;
	top: 25px;
	cursor: pointer;
	font-size: 35px;
	color: white;
}

nav.mobile li{
	padding: 8px 0;
	text-align: center;
	font-weight: lighter;
	border-bottom: 1px solid #0f457a;
}

nav.mobile li:hover{
	background: #2692ff;
	transition: 0.2s;
}

nav.mobile a{
	text-decoration: none;
	color: #0f457a;
}

nav.mobile a:hover{
	color: white;
}


nav.desktop{
	float: right;
	margin-top: 20px;
}

nav.desktop ul{
	list-style-type: none;
}

nav.desktop li{
	display: inline-block;
	margin: 0 15px;
	font-size: 17px;
	font-weight: lighter;
}

nav.desktop a{
	color: white;
	text-decoration: none;
}

nav.desktop a:hover{
	color: #2693ff;
	transition: 0.4s;
}

.conteudo1{
	width: 50%;
	position: relative;
	z-index: 1;
}

.conteudo1 h2{
	font-size: 27px;
	font-weight: lighter;
	color: white;
	margin-top: 80px;
}

.conteudo1 p{
	font-size: 22px;
	color: white;
	padding: 15px 0;
}

.conteudo1 span{
	color: #2692ff;
}

.conteudo1 a{
	display: block;
	width: 177px;
	height: 44px;
	background: #2693ff;
	color: white;
	text-align: center;
	line-height: 44px;
	text-decoration: none;
	margin-top: 18px;
	border-radius: 20px;
	cursor: pointer;
}

.conteudo1 a:hover{
	background: #0f457a;
}

.chamada-planos{
	width: 100%;
	text-align: center;
	padding: 27px 2%;
	background: rgb(220, 220, 220);
}

.chamada-planos h2{
	display: inline-block;
	color: #2692ff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: lighter;
}

.chamada-planos h2 > .borda-efeito{
	width: 100px;
	height: 2px;
	background: #2692ff;
	position: absolute;
	transition: 0.4s;
}

.chamada-planos h2:hover > .borda-efeito{
	width: 300px;
}

.box-planos{
	padding: 40px 0;
}

.box-planos > .center{
	display: flex;
	flex-wrap: wrap;
}

.box-planos-single{
	width: 33.3%;
	padding: 0 40px;
}

.box-planos-wraper{
	width: 100%;
	border: 1px solid #ccc;
	min-height: 250px;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.box-planos-single h2{
	background: #2692ff;
	color: white;
	text-align: center;
	padding: 3px;
	font-weight: lighter;
}

.box-planos-single h2:hover{
	background: #0f457a;
}

.pontos-planos{
	padding: 8px 0 15px 0;
	border-bottom: 1px solid #ccc;
}

.preco{
	margin-top: 10px;
	padding: 15px 0;
	text-align: center;
}

.preco h2{
	font-size: 24px;
	display: inline-block;
	border-top: 1px solid #ccc;
	color: #777;
	background-color: transparent;
	padding: 0 20px;
}

.box-planos-single p{
	color: #777;
	font-size: 18px;
	margin-top: 8px;
	margin-left: 40px;
}

section.parallax{
	width: 100%;
	min-height: 300px;
	background-image: url('../img/bg2.webp');
	background-size: cover;
	background-position: center;
	position: relative;
	background-attachment: fixed;
}

section.parallax > .center{
	position: relative;
	z-index: 2;
	max-width: 900px;
	margin: 40px auto;
	color: white;
}

section.parallax h2{
	text-align: center;
	padding-top: 35px;
	font-size: 27px;
}

section.parallax p{
	margin-top: 20px;
	font-size: 22px;
	padding: 15px;
}

.overlay-parallax{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	background-color: rgba(20, 20, 20, 0.6);
	top: 0;
	left: 0;
}

section.final{
	padding: 50px 0;
}

section.final h2{
	font-weight: lighter;
	color: #777;
	font-size: 24px;
	position: relative;
}

section.final h2 > .borda-efeito{
	width: 70px;
	height: 2px;
	background: #777;
	position: absolute;
	transition: 0.4s;
}

section.final h2:hover > .borda-efeito{
	width: 250px;
}

.contato form{
	margin-top: 15px;
}

.w50{
	float: left;
	width: 50%;
	padding: 0 20px;
	margin: 15px 0;
}

.contato input:not([type=submit]){
	width: 100%;
	font-size: 15px;
	height: 40px;
	border: 1px solid #ccc;
	padding-left: 8px;
	margin-top: 10px;
}

.contato input[type=submit]{
	cursor: pointer;
	font-size: 15px;
	background: #2693ff;
	color: white;
	border: 0;
	border-radius: 30px;
	width: 100px;
	height: 33px;
	display: block;
	margin-top: 15px;
}

.contato input[type=submit]:hover{
	background: #0f457a;
}

.contato textarea{
	width: 100%;
	font-size: 15px;
	height: 360px;
	border: 1px solid #ccc;
	margin-top: 10px;
	padding: 8px;
	resize: vertical;
}

.time > .w50{
	width: 48%;
	margin: 7px 1%;
}

.time-single{
	border: 1px solid #ccc;
	min-height: 260px;
	padding: 10px 8px;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.box-avatar{
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-image: url(../img/fabiosouttodev-002.jpg);
}

.topo-box-user{
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.info-user{
	display: inline-block;
	color: #777;
	padding-left: 8px;
	vertical-align: middle;
}

.descricao-user-box{
	color:#777;
	font-weight: lighter;
	font-size: 14px;
	margin-top: 10px;
}

footer{
	width: 100%;
	padding: 10px 2%;
	text-align: center;
	color: white;
	background: #2693ff;
}

/* =====  Responsividade ======  */

@media screen and (max-width: 768px){
	.conteudo1{
		width: 100%;
		padding: 15px;
	}
	.box-planos-single{
		width: 100%;
		margin: 20px 0;
	}
	.w50{
		width: 100%;
	}
	.time > .w50{
		width: 100%;
		margin: 7px 0;
	}
	nav.desktop{
		display: none;
	}
	nav.mobile{
		display: block;
	}
	
}